// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  
    .comments{
        background-color:#fed8b1;
    }
    .new-question{
        background-color:orange;
        border:3px solid black;
        border-radius: 5%;
        padding:5px;
    }
    .show{
        background-color:#fed8b1;
        border:1px solid black;
        border-radius: 5%;  
        padding:2px;
    }
